<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<title>USER SYSTEM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href= "../static/css/style.css"/>

	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<div>

							<!-- Logo -->
							<a>
								Interface Web - Admin
							</a>
						</div>
					</header>


				<!-- Main -->
					<div>
						<div>
							<form action="/login">
								<label>Informe seu login</label><br><br>
								<input type="text" placeholder="Username ou Email" name="username" id="username">

								<input type="password" placeholder="Senha" name="password" id="password">

								<input type="submit" value="Login">

							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footermenu">
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>